In [3]:
import pandas as pd

eda_data = pd.read_csv('data/eda_data.csv')
eda_data.head()

,COMPANY_RAW,EDUCATION_LEVELS,MIN_YEARS_EXPERIENCE,MAX_YEARS_EXPERIENCE,TITLE_CLEAN,SKILLS,SPECIALIZED_SKILLS,CERTIFICATIONS,COMMON_SKILLS,SOFTWARE_SKILLS,SOC_2021_4_NAME,NAICS_2022_6,REMOTE_TYPE_NAME,SALARY
0,Murphy USA,[\n 2\n],2.0,2.0,enterprise analyst ii iii,"[\n ""KS126DB6T061MHD7RTGQ"",\n ""KS126706DPFD3...","[\n ""KS126DB6T061MHD7RTGQ"",\n ""KS128006L3V0H...",[],"[\n ""KS126706DPFD3354M7YK"",\n ""KS1280B68GD79...","[\n ""KS440W865GC4VRBW6LJP"",\n ""KS13USA80NE38...",Data Scientists,441330,[None],NaN
1,SMX,[\n 99\n],3.0,3.0,oracle consultant reports,"[\n ""KS122626T550SLQ7QZ1C"",\n ""KS123YJ6KVWC9...","[\n ""KS122626T550SLQ7QZ1C"",\n ""KS123YJ6KVWC9...",[],[],"[\n ""BGSBF3F508F7F46312E3"",\n ""ESEA839CED378...",Data Scientists,561320,Remote,NaN
2,Sedgwick,[\n 2\n],5.0,NaN,data analyst,"[\n ""KS1218W78FGVPVP2KXPX"",\n ""ESF3939CE1F80...","[\n ""ESF3939CE1F80C10C327"",\n ""KS120GV6C72JM...","[\n ""KS683TN76T77DQDVBZ1B""\n]","[\n ""KS1218W78FGVPVP2KXPX"",\n ""BGS1ADAA36DB6...","[\n ""KS126HY6YLTB9R7XJC4Z""\n]",Data Scientists,524291,[None],NaN
3,Wells Fargo,[\n 99\n],3.0,NaN,sr lead data mgmt analyst sas product owner,"[\n ""KS123QX62QYTC4JF38H8"",\n ""KS7G6NP6R6L1H...","[\n ""KS123QX62QYTC4JF38H8"",\n ""KS441PQ64HT13...",[],"[\n ""KS7G6NP6R6L1H1SKFTSY"",\n ""KS1218W78FGVP...","[\n ""KS4409D76NW1S5LNCL18"",\n ""ESC7869CF7378...",Data Scientists,522110,[None],NaN
4,LH/GM,[\n 99\n],NaN,NaN,comisiones de por semana comiensa rapido,[],[],[],[],[],Data Scientists,999999,[None],92500.0

In [6]:
# identifying data analyst jobs by keyword searching
keywords = ['Data Analyst', 'Business Analyst', 'Data Engineering', 'Deep Learning',
            'Data Science', 'Data Analysis','Data Analytics',  'Market Research Analyst' 
            'LLM', 'Language Model', 'NLP', 'Natural Language Processing',
            'Computer Vision', 'Business Intelligence Analyst', 'Quantitative Analyst', 'Operations Analyst']

match = lambda col: eda_data[col].str.contains('|'.join(keywords), case=False, na=False)

eda_data['DATA_ANALYST_JOB'] = match('TITLE_NAME') \
             | match('SKILLS_NAME') \
             | match('SPECIALIZED_SKILLS_NAME') 
eda_data['DATA_ANALYST_JOB'].value_counts()

KeyError: 'TITLE_NAME'

In [4]:
import plotly.express as px

# Group data
df_grouped = eda_data.groupby(['DATA_ANALYST_JOB', 'NAICS2_NAME']).size().reset_index(name='Job_Count')

# Define custom colors for 'True' and 'False' categories
color_map = {
    False: "#d62728",   # Red
    True: "#3BB143"     # Green (Fixed extra space issue)
}

# Create the figure
fig = px.bar(df_grouped, 
             x='NAICS2_NAME', 
             y='Job_Count',
             color='DATA_ANALYST_JOB',
             title="Data Analytics & Business Analytics Job Trends",
             labels={'NAICS2_NAME': 'Industry', 'Job_Count': 'Number of Jobs'},
             barmode='group',
             color_discrete_map=color_map  # Custom colors
            )

# **Fix sizing issues**
fig.update_layout(
    autosize=True,  # Let it adapt dynamically
    width=1200,     # Set wider width
    height=700,     # Set taller height
    margin=dict(l=60, r=60, t=50, b=100),  # Avoid excessive padding
    font=dict(size=14),  # Increase text size
    xaxis=dict(
        tickangle=-45,  # Rotate x-axis labels
        title_font=dict(size=16),  # Bigger title
        tickfont=dict(size=14)  # Bigger tick labels
    ),
    yaxis=dict(
        title="Number of Jobs", 
        range=[0, df_grouped['Job_Count'].max() * 1.2],  # Extend Y-axis range
        title_font=dict(size=16),  # Bigger title
        tickfont=dict(size=14)  # Bigger tick labels
    )
)

# Show the plot
fig.show()

# Save as an HTML file for Quarto embedding
fig.write_html("figures/plot1_jobtrends.html")

KeyError: 'DATA_ANALYST_JOB'