In [2]:
import pandas as pd

eda_data = pd.read_csv('data/eda_data.csv')
eda_data.head()

,COMPANY_RAW,EDUCATION_LEVELS,MIN_YEARS_EXPERIENCE,MAX_YEARS_EXPERIENCE,TITLE_CLEAN,SKILLS,SPECIALIZED_SKILLS,CERTIFICATIONS,COMMON_SKILLS,SOFTWARE_SKILLS,SOC_2021_4_NAME,NAICS_2022_6,REMOTE_TYPE_NAME,SALARY
0,Murphy USA,[\n 2\n],2.0,2.0,enterprise analyst ii iii,"[\n ""KS126DB6T061MHD7RTGQ"",\n ""KS126706DPFD3...","[\n ""KS126DB6T061MHD7RTGQ"",\n ""KS128006L3V0H...",[],"[\n ""KS126706DPFD3354M7YK"",\n ""KS1280B68GD79...","[\n ""KS440W865GC4VRBW6LJP"",\n ""KS13USA80NE38...",Data Scientists,441330,[None],NaN
1,SMX,[\n 99\n],3.0,3.0,oracle consultant reports,"[\n ""KS122626T550SLQ7QZ1C"",\n ""KS123YJ6KVWC9...","[\n ""KS122626T550SLQ7QZ1C"",\n ""KS123YJ6KVWC9...",[],[],"[\n ""BGSBF3F508F7F46312E3"",\n ""ESEA839CED378...",Data Scientists,561320,Remote,NaN
2,Sedgwick,[\n 2\n],5.0,NaN,data analyst,"[\n ""KS1218W78FGVPVP2KXPX"",\n ""ESF3939CE1F80...","[\n ""ESF3939CE1F80C10C327"",\n ""KS120GV6C72JM...","[\n ""KS683TN76T77DQDVBZ1B""\n]","[\n ""KS1218W78FGVPVP2KXPX"",\n ""BGS1ADAA36DB6...","[\n ""KS126HY6YLTB9R7XJC4Z""\n]",Data Scientists,524291,[None],NaN
3,Wells Fargo,[\n 99\n],3.0,NaN,sr lead data mgmt analyst sas product owner,"[\n ""KS123QX62QYTC4JF38H8"",\n ""KS7G6NP6R6L1H...","[\n ""KS123QX62QYTC4JF38H8"",\n ""KS441PQ64HT13...",[],"[\n ""KS7G6NP6R6L1H1SKFTSY"",\n ""KS1218W78FGVP...","[\n ""KS4409D76NW1S5LNCL18"",\n ""ESC7869CF7378...",Data Scientists,522110,[None],NaN
4,LH/GM,[\n 99\n],NaN,NaN,comisiones de por semana comiensa rapido,[],[],[],[],[],Data Scientists,999999,[None],92500.0